.cp-box {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  text-align: center;
  padding-bottom: 10px;
}
.cp-box img {
  width: 75px;
  height: 75px;
}
.cp-comp {
  border-radius: 10%;
  padding: 10px;
  box-shadow: 7px 10px 50px -10px rgba(126, 126, 126, 0.56);
}
.cp-comp:hover {
  box-shadow: 7px 50px 50px -10px rgba(223, 222, 222, 0.56);
}
@media screen and (max-width: 800px) {
  .cp-box {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    text-align: center;
    padding-bottom: 10px;
    padding-bottom: 5px;
  }
}
