.cp-box {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  text-align: center;
  padding-bottom: 10px;
}
.cp-box img {
  width: 75px;
  height: 75px;
}
.cp-comp {
  border-radius: 10%;
  padding: 10px;
  box-shadow: -10px 10px 10px -10px rgba(187, 186, 186, 0.56);
}
.cp-comp:hover {
  box-shadow: 10px 10px 100px -10px rgba(157, 209, 251, 0.56);
}
@media screen and (max-width: 800px) {
  .cp-box {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    text-align: center;
    padding-bottom: 10px;
    padding-bottom: 5px;
  }
}
