.rowProject {
  display: flex;
}
.columnProject {
  text-align: center;
  flex: 50%;
  padding: 10px;
  height: 350px;
}
@media only screen and (max-width: 600px) {
  .rowProject {
    display: flex;
    flex-direction: column;
  }
}
