.pcard {
 text-align: center;
  width: 300px ;
  padding:10px;
  margin: 1rem;
  box-shadow: 7px 10px 50px -10px rgba(126, 126, 126, 0.56);
}
.pcard:hover {
  box-shadow: 7px 10px 20px -10px rgba(126, 126, 126, 0.56);
}
.pcard a{
  color: whitesmoke;
}
.pcard a:hover{
  color: rgb(255, 255, 255);
}