.pcard {
  text-align: center;
  width: 300px;
  padding: 10px;
  margin: 1rem;
  background: linear-gradient(180deg, #0000, #ffeead 100%);
  box-shadow: 7px 10px 50px -10px rgba(126, 126, 126, 0.56);
}
.pcard h1 {
  background-color:  #ffcc5c;
  border-radius:5px;
}
.pcard h2 {
  background-color: #96ceb4;
  color: white;
  border-radius: 5px;
}
.pcard h5{
  padding: 0px;
}
.pcard:hover {
  box-shadow: 7px 10px 20px -10px rgba(126, 126, 126, 0.56);
}
.pcard a {
  color: whitesmoke;
}
.pcard a:hover {
  color: rgb(255, 255, 255);
}
